<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div> <a class="navbar-brand" routerLink="/customer-page"><i class="fa-solid fa-magnifying-glass"></i>Car Rental</a>
        <a class="navbar-brand" routerLink="/about-us"> About us</a>
        <a class="navbar-brand" routerLink="/contact-us">Contact us</a>
      </div>
  
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="bar">
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <app-car-models></app-car-models>
            </li>  
            <li class="nav-item">
              <app-search></app-search>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/customer-profile">
                <p>Profile</p>
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" routerLink="/home-page">
                <p>logout</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
 
 
 
